#body {
  background-color: #EAE9E5;
  font-family: Josefin Sans;
  box-sizing: border-box;
  min-height: 400px;
  margin: 20px;
  padding: 20px; }

.header1 {
  color: #A32D2A;
  font-size: 40px; }

.header {
  min-height: 100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: #392B24;
  border-image: 2px grey;
  background-size: 75%;
  width: 100%;
  text-align: center;
  border-style: none; }

.header__logo {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 360px;
  border-color: 20px #51362A;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1; }

.menu {
  min-height: 40px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding-right: 20px;
  padding-top: 10px;
  width: 80%;
  background-color: transparent;
  text-decoration: transparent; }

.navbar {
  min-height: 190px;
  box-sizing: border-box;
  color: #EAE9E4;
  min-height: 100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../foodpics/foodbanner_3.jpeg);
  border-image: 2px grey;
  background-size: 75%;
  width: 100%;
  text-align: center;
  border-style: none;
  justify-content: flex-end;
}

.nav-item {
  color: #5C636B;
  font-size: 20px;
  background-color: transparent;
  text-decoration: none;
  /*transition-property: background color;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transition-delay: 0s;*/
    display: inline-block;
  height: auto;
  background-color: transparent;

}

.nav-link {
  color: #EAE9E4;
  font-size: 20px;
  background-color: transparent;
  text-decoration: none;
  transition-property: background color;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transition-delay: 0s;

}

.nav_logo {
  margin-left: 10px;
  text-align: left;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 360px;
  border-color: 20px #51362A;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}


.menu__list {
  margin-left: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; }

.menu__item {
  display: inline-block;
  height: auto;
  background-color: transparent; }

.menu__link {
  color: #FDF0DA;
  font-size: 20px;
  margin-left: 25px;
  background-color: transparent;
  text-decoration: none;
  transition-property: background color;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  transition-delay: 0s; }

.menu__link a:hover {
  color: #A22B2A;
  text-decoration: underline;
  background-color: transparent;
  text-decoration: transparent; }

.section {
  background-color: #EAE9E5; }

.section__header1 {
  margin-top: 100px;
  color: #A32D2A;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  background-color: #EAE9E5;
  transition-duration: 2s;
  transition-property: background-color, text-transform;
  transition-timing-function: ease-in;
  transition-delay: 1s;
  padding-bottom: 20px; }

.card-img-top {
  padding-top: 30px;
  margin-top: 30px;
  display: block;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-image: 2px grey;
  border-radius: 50%; }

.card-text {
  padding-top: 15px;
  font-size: 30px;
  color: #5F463A;
  text-align: center;
  align-content: center;
  padding-bottom: 15px; }

.card-title {
  padding-top: 15px;
  font-size: 35px;
  font-decoration: none;
  text-align: center; }

.card {
  background-color: #EDC31C; }

.footer {
  min-height: 100px;
  display: grid;
  grid-template-areas: 
  "logo newsletter social_media";
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
    background-image: radial-gradient(ellipse at bottom, #51362A 10%, #73253C 90%, #A32D2A 100%);
    bottom:0px;
    width:100%;
    max-height: 260px;
    margin-top: 50px;


  /*background-color: #73253C;*/

}

.footer__logo_footer {
  grid-area: logo;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  margin-top: 5px;
}

.footer__list {
  background-color: transparent;
  text-decoration: none;
  color: #EAE9E5;
  list-style-type: none;
  margin-top: 0px;

}

.footer__img {
  padding-bottom: 0px;

}



.footer__paragraph {
  background-color: transparent;
  text-decoration: transparent;
  color: #EAE9E5;
  margin-top: 0px;

}

.footer__paragraph5 {
  color:#7E869B;
  font-size: 12px;
  background-color: #EAE9E5;
  text-align: center;
  background-color: transparent;
  text-decoration: transparent;
}

.newsletter {
  grid-area: newsletter;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-decoration: transparent;
  color: #EAE9E5;

}

.newsletter h2 {
  padding-top: 15px;
  letter-spacing: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-decoration: transparent;
  color: #EAE9E5;
  text-align: center;
}


.newsletter .paragraph {
  margin:0px;
  color: #EAE9E5;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-decoration: transparent;

}

.newsletter .paragraph4 {
  background-color: transparent;
  text-decoration: transparent;
  align-items: center;
  text-align: center;
  color: #EAE9E5;


}

.newsletter .email {
  display: inline-flex;
  align-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  height: 16px;
  width:16px;
  line-height:30px;

}

.social_media {
  grid-area: social_media;

}

.social_media h2 {
  padding-top: 15px;
  letter-spacing: 1rem;
  color: #EAE9E5;
  background-color: transparent;
  text-decoration: transparent;
  text-align: center;

}

/*.social_media .list_media .list_media_item {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  align-content: center;
  color: #EAE9E4;
  margin: 10px;
  justify-content: center;
  background-color: transparent;
  text-decoration: transparent;
  display: inline;
    line-height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-position: inside;
    width: 100px;
    text-transform: none;
    transition-property: background color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;*/

}

.list_media {
  color: #FDEFDA;
  text-align: justify;
  justify-content: center;

}

.list_media_item {
  font-size: 22px;
  padding-top: 20px;
  list-style-type: none;
  color: #FDEFDA;
  text-align: center;
  text-decoration: none;
}

.list_media_item a:hover {
  color: #FDEFDA;
  text-decoration: none;
  background-color: transparent;
}

.list_media_item a:link {
  color: #FDEFDA;
  text-decoration: none;
  background-color: transparent;
}

.legend {
  color: #FDEFDA;
}


.paragraph {
  color: #5F463A;
  font-size: 18px;
  background-color: #EAE9E5;
  text-align: justify-all;
  /*	align-items: center;*/ }

.paragraph2 {
  color: #5F463A;
  font-size: 18px;
  background-color: #EAE9E5;
  text-align: center;
  align-items: center;
  float: right; }

.paragraph3 {
  color: #5F463A;
  font-size: 24px;
  background-color: #EAE9E5;
  text-align: center;
  align-items: left; }

.paragraph4 {
  color: #E1B180;
  font-size: 24px;
  background-color: #EAE9E5;
  text-align: left;
  align-items: left; }
